body {
  background-color: black;
}

.card {
  width: 400px;
  height: 200px;
  padding: 1px 20px;
  box-sizing: border-box;
  background: url(./img/backgorund.png) no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 10%;
}

a {
  text-decoration: none;
  color: black;
}

.instagram {
  color: purple;
  list-style-image: url(./img/Insta.png);
}
.twitter {
  color: blue;
  list-style-image: url(./img/Twitter.png);
}
.youtube {
  color: red;
  list-style-image: url(./img/Youtube.png);
}
