/*  
Borda
*/

/* .borda {
  padding: 10px;
  margin: 10px;
  border-width: 5px 2px 10px 15px;
  border-top-color: blue;
  border-left-color: rgba(255, 4, 4, 0.294);
  border-radius: 5px;
}

.borda2 {
  border: 5px dashed blue;
}

.quadrado {
  width: 100px;
  height: 100px;
  background-color: yellow;
}

.dotted {
  border-style: dotted;
} /* Pontilhado */
/* .dashed {
  border-style: dashed;
} /* Tracejado */
/* .solid {
  border-style: solid;
} /* continuo */
/* .none {
  border-style: none;
} Não ha borda */
/* .hidden {
  border-style: hidden;
} O elemento esta na tela , mas não aperece */

/* Border-box
  Margin > borda > padding > conteudo
  Margin padding e borda trabalham juntos
  outline -> ele não trabalha com border box
*/
/* 
body {
  padding: 0;
  margin: 0;
} */

/* .container {
  background-color: blue;
  padding: 5px;
  border: 5px solid gold;
  margin: 10px;
}

.content {
  background-color: gray;
  border: 5px solid green;
  padding: 5px;
} */

/* .square {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 10px solid blue;
  padding: 10px;

  box-sizing: border-box;
}

.square2 {
  width: 100px;
  height: 100px;
  background-color: yellow;
} */

/*
text-align -> alinha o texto
text-transform -> transforma o texto em maisculo e minusculo
text-indent -> espaçoes entre paragrafos
text-decoration -> decora os textos
letter-spacing -> espaçoes entre as letras
 line-height -> altura da linha
 word-spacing -> separa uma palavra da outra
 text-shadow: 2px 2px 5px black; -> sombra do texto -> 2px pra direita, 2px pra baixo , 5px raio de desfoque , cor


 Fontes:
 font-family -> familia da fonte
 font-style -> o estilo da fonte
 font-size -> modifica o tamanho da fonte
 font-weight -> coloca a fonte em negrito e altera em numeros
  font-variant: small-caps; -> poe em maisculo porem respeitando os espaços

*/
/* 
#titulo {
  font-family: sans-serif;
  font-style: initial;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 900;
  font-variant: small-caps;
} */

/* 
  Estilizar Link

   cursor -> muda o icone do cursor
   border-radius -> arredonda botão
  
  
  .links:visited -> muda a cor quando você visita o item
  .links:hover -> quando você passa o mouse em cima do link
  .links:active -> quando você clica no link com o mouse e puxa para qualquer lado fica com efeito
 */
/* .links:link {
  text-decoration: none;
  color: black;
  cursor: crosshair;
  /* background: blue; */
/* padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 2px solid gray;
*/

/* .links:active {
  background: black;
  color: wheat;
}

#li {
  text-decoration: none;
  color: black;
}
#li:visited {
  border-color: blue;
  color: aqua;
} */

/* 
  Estilo para lista
  ul -> lista com simbolos
  list-style-type: none; -> tira o marcador da lista
  list-style-type: disc; -. marcador disco
  list-style-type: square -> marcador quadrado
  

  ol -> lista com numeros
  list-style-type: upper-roman; -> numero romano em maisculo
  list-style-type: lower-roman; -> numero romano em minusculo

  list-style-type: upper-alpha/lower-alpha -> letra maiscula/letra minuscula

  list-style-image: ; -> por imagem em itens
  list-style-position: inside; -> marcador passa pra dentro da lista

*/
ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;

  background-color: #f3e;
}
ol {
  list-style-type: upper-roman;
  padding: 10px;
  background-color: blue;
  list-style-position: inside;
}

li {
  border: 1px solid;
  background-color: yellow;
  margin: 5px;
  padding: 2px;
  border-radius: 5px;
}
